body{
    font-family: 'Linotype Didot', Serif;
    background-color: rgb(51, 51, 51);
}

a {
    color: rgb(255, 255, 255);
}

.icon {
    margin-left: 7px;
}

#navbar-top {
    height: 80px;
    margin: -8px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 69, 0);
    display: block;
}

#contact_us {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 89, 20);
    height: 300px;
    margin: 80px -8px 0px -8px;
    padding-top: 5px;
}

.contact_td {
    width: 50%;
    height: 50%;
}

.contact_td {
    width: 50%;
    height: 50%;
}

input, textarea {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 69, 0);
    font: inherit;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    margin: 0 auto;
    border-radius: 0.05rem;
    border: none;
    width: 90%;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

#contact_button {
    height: 40px;
    width: 80px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 206, 209);
    cursor: pointer;
    border: none;
    outline:none;
}

#footer {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 69, 0);
    height: 125px;
    overflow: hidden;
    margin: 0px -8px -100px -8px;
    vertical-align: middle;
}



/* username dropdown */
.drop_list_item .drop_link {
    text-decoration : none;
    color : #ffffff;
    padding: 15px;
    width: 100%;
    margin-left: -40px;
    text-align: center;
    z-index: 9998;
}

.drop_nav {
    position: absolute;
    right: 26px;
    top: 13px;
    display: inline-block;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 22px;
    /* select text disabled */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    /* select text disabled */
    z-index: 9997;
}

.drop_span {
    min-width: 80px;
    overflow: hidden;
    padding: 15px 20px;
    background-color: rgb(255, 89, 20);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size : 1em;
    cursor : pointer;
    text-align: center;
    z-index: 9999;
}

.slide {
    margin-top: -20px;
    background-color: rgb(255, 89, 20);
    border-radius: 8px;
    clear: both;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height .3s ease;
    list-style-type: none;
    z-index: 9998;
}

.slide li {
    padding-top: 40px;
    font-size: 18px;
    z-index: 9998;
}

#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked + .slide {
    height: 125px;
}

.drop_list_item .drop_link:hover {
    background-color: rgb(255, 69, 0);
    padding: 15px 2rem;
    border-radius: 8px;
}
/* username dropdown */

/* Profile Image */
.menu {
    width: 170px;
    float: left;
    position: relative;
}

.menu_label {
    width: 154px;
    color: #FFFFFF;
    float: left;
    padding: 3px;
    position: absolute;
    top: 50%;
    left: 10px;
}

.real_photo {
    max-width:177px;
    display: inline-block;
    border-radius: 50%;
}
/* Profile Image */