#search_form {
    font-family: 'Poppins',sans-serif;
    position: relative;
    width: 30rem;
    background: rgb(255, 69, 0);
    border-radius: 0.7rem;
}
#search, #search_button {
    height: 2.5rem;
    border: 0;
    font-size: 1.8rem;
}
#search {
    color: rgb(51, 51, 51);
    outline: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 0 1.6rem;
    border-radius: 0.7rem;
    appearance: none;
    transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}
#search_button {
    color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    font-weight: bold;
    background: rgb(255, 69, 0);
    border-radius: 0 0.7rem 0.7rem 0;
}
#search:not(:placeholder-shown) {
    border-radius: 0.7rem 0 0 0.7rem;
    width: calc(100% - 6rem);
}



.dropdown-check-list, #results_per_page{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
}
.dropdown-check-list {
    position: absolute;
    display: inline-block;
    background-color: rgb(255, 89, 20);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    z-index: 9999;
}
.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    z-index: 9999;
}
.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid white;
    border-top: 2px solid white;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    z-index: 9999;
}
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
    z-index: 9999;
}
.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border-top: none;
    z-index: 9999;
}
.dropdown-check-list ul.items li {
    margin-bottom: 2px;
    list-style: none;
    z-index: 9999;
}
.dropdown-check-list.visible .anchor {
    color: rgb(0, 0, 0);
    z-index: 9999;
}
.dropdown-check-list.visible .items {
    display: block;
    z-index: 9999;
}



#filter_button {
    height: 40px;
    width: 80px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 89, 20);
    cursor: pointer;
    border: none;
    outline:none;
    font-family: 'Poppins',sans-serif;
}

input[type="checkbox"] {
    margin-left: 2px;
    margin-right: 5px;
    margin-top: -2px;
    -webkit-appearance: initial;
    appearance: initial;
    background: rgb(0,0,0,0.0);
    width: 1px;
    height: 25px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30%;
    position: relative;
    vertical-align: middle;
    transform: scale(70%);
}
input[type="checkbox"]:checked {
    background: rgb(0,0,0,0.2);
}
input[type="checkbox"]:checked:after {
    content: "✔";
    color: rgb(255, 255, 255);
    zoom: 0.75;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}