<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="head">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>CodeTask</title>

  <link rel="stylesheet" th:href="@{/css/application.css}" href="../static/css/application.css"/>
</head>
<body>

<div id="navbar-top" class="navbar-top" th:fragment="navbar_top(logedInUsername, logedInUserID, notifications)">
    <div id="pageMessages"></div>
  <div style=" font-size: 25px; ">
    <div style=" padding-top: 25px; margin-left: 10px; ">
      <a class="icon" href="https://github.com/"><ion-icon name="logo-github"></ion-icon></a>
      <a class="icon" href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
      <a class="icon" href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
      <a class="icon" href="https://twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
    </div>
  </div>
  <div style=" text-align: center; margin-top: -75px; "><a th:href="@{/index}" href="index.html" style=" text-decoration: none; cursor: pointer; "><h2 style=" font-size: 40px; ">CodeTask</h2></a></div>
  <div style=" text-align: right;  margin-top: -65px; margin-right: 18px ">
        <span style=" font-size: 21px;" sec:authorize="!isAuthenticated()">
            <a th:href="@{/users/login}" href="index.html" style=" text-decoration: underline; ">LogIn</a>
            /
            <a th:href="@{/users/register}" href="index.html" style=" text-decoration: underline; ">SignUp</a>
        </span>
        <span style=" font-size: 21px;" sec:authorize="isAuthenticated()">
            <nav class="drop_nav">
                <label for="touch">
                    <div class="drop_span" th:text="${logedInUsername}">
                        username
                    </div>
                </label>
                <span th:if="${#lists.size(notifications) > 0}" style="position: absolute; right: 10%; top: 10%;"><ion-icon name="notifications-circle-outline"></ion-icon></span>
                <input type="checkbox" id="touch">
                <ul class="slide">
                    <li class="drop_list_item">
                        <a class="drop_link" th:href="@{/users/profile_view/{id}(id=${logedInUserID})}" href="#">Profile</a>
                    </li>
                    <li class="drop_list_item" style=" padding-top: 25px;">
                        <a class="drop_link" th:href="@{/users/profile_view/notifications/{id}(id=${logedInUserID})}" href="#">Notifications<span th:if="${#lists.size(notifications) > 0}"><ion-icon name="notifications-circle-outline"></ion-icon></span></a>
                    </li>
                    <li class="drop_list_item" style=" padding-top: 25px;">
                        <a class="drop_link" th:href="@{/users/logout}" href="#">Logout</a>
                    </li>
                </ul>
            </nav>
        </span>
  </div>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div id="profile_picture" th:fragment="profile_picture(photoImagePath)">
    <div class="menu">
        <img src="../static/images/Default%20Profile%20Image.png" class="real_photo" />
        <span class="menu_label">
            <ion-icon id="camera_icon" name="camera-outline" style=" margin-top: -500px; font-size: 30px; color: rgba(255, 255, 255, 1);"></ion-icon>
        </span>
    </div>
</div>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div style = "margin: 50rem;"></div>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div id="contact_us" class="contact_us" th:fragment="contact_us">
    <table style=" width: 70%; margin-left: auto; margin-right: auto; ">
        <tr>
            <td class="contact_td">
                <h5 style=" font-size: 40px; margin-bottom: 10px; margin-top: 5px; ">Contact us</h5>
                <span style=" font-size: 20px; ">Complete the form to get in touch with us. We are here to assist you with any questions or inquiries you may have about our marketplace for freelance services.</span>
            </td>
            <td class="contact_td" style=" padding-left: 50px; ">
                <form>
                    <table style=" display: block; ">
                        <tr>
                            <td class="contact_td"><label>Name</label><br><input type="text"/></td>
                            <td class="contact_td"><label style=" margin-left: 10px; ">E-mail</label><br><input type="email" style=" margin-left: 10px; "/></td>
                        </tr>
                    </table>
                    <div style=" margin-top: 10px; text-align: left ">
                        <label>Message</label><br><textarea type="text" cols="40" rows="5" style=" margin-left: 0px; width: 90%; height: 80px; "></textarea>
                    </div>
                    <div style=" text-align: right; padding-right: 25px; padding-top: 5px; ">
                        <button id="contact_button" type="submit">Sent</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>

<footer id="footer" class="footer" th:fragment="footer">
    <div style=" font-size: 30px; margin-top: 10px ">CodeTask</div>
    <div style=" font-size: 20px; padding-top: 10px; ">
        <a class="icon" href="https://github.com/"><ion-icon name="logo-github"></ion-icon></a>
        <a class="icon" href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
        <a class="icon" href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
        <a class="icon" href="https://twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
    </div>
    <div style=" padding-top: 20px; "><a href="https://www.cs.unipi.gr/index.php?lang=el">University of Piraeus 2023 ®</a></div>
</footer>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>
</html>