<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>View Profile</title>

  <link rel="stylesheet" th:href="@{/css/application.css}" href="../static/css/application.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

  <style>
    .profile_table {
      width: 100%;
      font-family: 'Poppins',sans-serif;
    }
    .profile_table > tr, td {
      width: 50%;
    }

    #task_table {
      width: 90%;
      border-spacing: 0px 20px;
    }
    .task_tr {
      width: 95%;
      height: 150px;
      color: rgb(255, 255, 255);
    }
    .task_td:hover {
      cursor: pointer;
    }
    .task_td {
      vertical-align: top;
      padding: 10px;
      background-color: #FF5719;
      border: 1px solid #222222;
      box-shadow: 3px 3px 5px #222222;
      border-radius: 8px;
    }

    .checked {
      color: yellow;
    }

    .container {
      margin: 8px auto;
      width: 150px;
      text-align: center;
    }
    .progress {
      padding: 5px;
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.25);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
      0 1px #222222;
    }
    .progress-bar {
      height: 18px;
      border-radius: 5px;
      background-image: linear-gradient(
              to bottom,
              rgba(255, 255, 255, 0.2),
              rgba(0, 0, 0, 0.05)
      );
      transition: 0.4s linear;
      transition-property: width, background-color;
    }
    .progress-moved .progress-bar {
      width: 0%;
      background-color: #ff4500;
    }

    .horizontal_line {
      border: 1px solid white;
    }

    #real_image {
      margin-top: 50px;
      height: 11rem;
      width: 11rem;
      border-radius: 50%;
      display: inline-block;
      background-repeat: no-repeat;
      background-color: rgb(255, 255, 255, 1);
      opacity: 1;
    }
  </style>
</head>
<body>
<div id="navbar-top" th:replace="~{fragments :: navbar_top(${logedInUsername}, ${logedInUserID}, ${notifications})}"></div>

<div style=" color: #FFFFFF; margin-top: 25px;" th:object="${user}" >
  <table class="profile_table">
    <tr>

      <td style=" width: 30%; text-align: center; vertical-align: top; ">
        <div id="user_preview">

          <form id="pic_form" enctype="multipart/form-data" action="#" th:action="@{/users/profile_view/change_picture}" method="post">

            <div style=" margin-top: 50px; height: 11rem; width: 11rem; border-radius: 50%; display: inline-block;"
                 th:onmouseover="${user.getId() == logedInUserID} ? 'onImageHover(this)'"
                 th:onmouseout="${user.getId() == logedInUserID} ? 'onImageHover(this)'"
                 onmouseover="onImageHover(this)"
                 onmouseout="onImageHover(this)"
                 th:onclick="${user.getId() == logedInUserID} ? 'changePic()'">
                <div class="menu">
                  <img th:src="@{{path}(path=${user.getPhotosImagePath()})}" src="../static/images/Default%20Profile%20Image.png" class="real_photo" />
                  <span class="menu_label">
                      <ion-icon id="camera_icon" name="camera-outline" style=" margin-top: -500px; font-size: 30px; color: rgba(0, 0, 0, 0);"></ion-icon>
                  </span>
                </div>
            </div>

            <input id="input_file" type="file" name="image" accept="image/png, image/jpeg" onchange="form.submit()" hidden/>
          </form>

          <div></div>
          <h5 th:text="${user.getUsername()}" style=" display: inline-block; margin-top: 5px; font-size: 20px; ">thisIsAUsername</h5>
          <span style=" display: inline-block; margin-left: 5px; font-size: 23px;" th:if="${user.getUsername()} == ${logedInUsername}"><a th:href="@{/index}"><ion-icon name="create-outline"></ion-icon></a></span>
          <div>
            <span>[&nbsp;&nbsp;</span>
            <span class="user_roles" th:each="role, iterStat: ${user.getRoles()}" th:text="${iterStat.last} ? ${role.getName()} + '&nbsp;&nbsp;' : ${role.getName()} + ',&nbsp;'"></span>
            <span>]</span>
          </div>
        </div>
      </td>

      <td style=" vertical-align: top; " th:if="${isClient}">
        <div class="tasks">
          <h5 style=" font-size: 20px; margin-bottom: -2px; ">Tasks</h5>
          <table id="task_table">
            <tr class ="task_tr" th:each="task: ${tasks}">
              <td class="task_td">
                <a th:href="@{/task_view/{type}(type=${task.getId()})}" href="task_view.html" style=" text-decoration: none; ">
                  <div>
                    <div>
                      <span th:text="${task.getTitle()}" style=" font-size: 22px; ">Title</span>
                      <div style=" display: flex; justify-content: right; margin-top: -27px; ">
                        <span th:text="'Max Bidding Price: ' + ${task.getMaxPrice()} + ' €'" style="margin-right: 50px;">Max Bidding Price: 500€</span>
                        <span th:text="'End Date: ' + ${task.getFormattedDateTime()}" style="margin-right: 10px; ">End Date: date</span>
                      </div>
                    </div>
                    <p th:text="${task.getDescription()}" >Description</p><br>
                    <div style=" margin-top: 15px;">
                      <span th:text="'Creator: ' + ${task.getCreator()?.getUsername()}">Creator: a</span>
                      <div style=" display: flex; justify-content: right; margin-top: -17px; margin-right: 10px; ">
                        <span th:text="'Category: ' + ${task.getCategory()?.getName()}" style="margin-left: 50px;">Category: b</span>
                        <span th:text="'Subcategory: ' + ${task.getSubcategory()?.getName()}" style="margin-left: 25px;">Subcategory: c</span>
                      </div>
                    </div>
                  </div>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </td>

    </tr>

    <tr>
      <td colspan="2" style=" padding: 10px 25px 10px 25px; ">
        <hr class="horizontal_line">
      </td>
    </tr>

    <tr th:if="${isDeveloper != null}">

      <td style=" width: 30%; text-align: center; vertical-align: top; ">
        <h5 style=" font-size:  20px; ">Ratings</h5>
        <div style=" margin-top: -20px; ">
          <span class="fa fa-star checked" th:class="${averageRating > 0} ? 'fa fa-star checked' : 'fa fa-star'"></span>
          <p id="progress-bar5-value" th:text="${numberOfRatings[4]}" hidden></p>
          <span class="fa fa-star checked" th:class="${averageRating > 1} ? 'fa fa-star checked' : 'fa fa-star'"></span>
          <p id="progress-bar4-value" th:text="${numberOfRatings[3]}" hidden></p>
          <span class="fa fa-star checked" th:class="${averageRating > 2} ? 'fa fa-star checked' : 'fa fa-star'"></span>
          <p id="progress-bar3-value" th:text="${numberOfRatings[2]}" hidden></p>
          <span class="fa fa-star checked" th:class="${averageRating > 3} ? 'fa fa-star checked' : 'fa fa-star'"></span>
          <p id="progress-bar2-value" th:text="${numberOfRatings[1]}" hidden></p>
          <span class="fa fa-star checked" th:class="${averageRating > 4} ? 'fa fa-star checked' : 'fa fa-star'"></span>&nbsp;&nbsp;
          <p id="progress-bar1-value" th:text="${numberOfRatings[0]}" hidden></p>
          <span th:text="${averageRating}">5</span>

          <div>
            <div class="container">
              <div class="progress progress-moved"><div id="progress-bar5" class="progress-bar"></div></div>
            </div>
            <div style=" margin: -35px 0px 0px -12rem; "><span class="fa fa-star">&nbsp;5</span></div>
          </div>

          <div>
            <div class="container">
              <div class="progress progress-moved"><div id="progress-bar4" class="progress-bar"></div></div>
            </div>
            <div style=" margin: -35px 0px 0px -12rem; "><span class="fa fa-star">&nbsp;4</span></div>
          </div>

          <div>
            <div class="container">
              <div class="progress progress-moved"><div id="progress-bar3" class="progress-bar"></div></div>
            </div>
            <div style=" margin: -35px 0px 0px -12rem; "><span class="fa fa-star">&nbsp;3</span></div>
          </div>

          <div>
            <div class="container">
              <div class="progress progress-moved"><div id="progress-bar2" class="progress-bar"></div></div>
            </div>
            <div style=" margin: -35px 0px 0px -12rem; "><span class="fa fa-star">&nbsp;2</span></div>
          </div>

          <div>
            <div class="container">
              <div class="progress progress-moved"><div id="progress-bar1" class="progress-bar"></div></div>
            </div>
            <div style=" margin: -35px 0px 0px -12rem; "><span class="fa fa-star">&nbsp;1</span></div>
          </div>

          </div>
      </td>

      <td style=" padding-right: 25px;">
        <div style=" margin: 25px 0px 0px 0px; font-size: 25px; color: #ffffff " th:text="${#lists.size(userRatings) == 0} ? '0 Ratings' : ${#lists.size(userRatings)} + ' Ratings'">1 Ratings</div>
        <hr class="horizontal_line">
        <table id="review_table">
          <tr th:each="rating, iterStat: ${userRatings}">
            <td style="padding-top: 25px;">
              <div style=" height: 5rem; width: 5rem; border-radius: 50%; display: inline-block;">
                <div class="menu">
                  <img th:src="@{{path}(path=${rating.getRater()?.getPhotosImagePath()})}" src="../static/images/Default%20Profile%20Image.png" class="real_photo"
                  style=" height: 5rem; display: inline-block; "/>
                  <span class="menu_label">
                      <ion-icon id="camera_icon" name="camera-outline" style=" margin-top: -500px; font-size: 30px; color: rgba(0, 0, 0, 0);"></ion-icon>
                  </span>
                </div>
              </div>

              <h5 style=" margin: -65px 0px 50px 90px; font-size: 15px; " th:text="${rating.getRater()?.getUsername()}">thisIsAnotherUsername</h5>
              <div style=" margin: -40px 0px 50px 90px; ">
                <span class="fa fa-star checked" th:class="${rating.getRating() > 0} ? 'fa fa-star checked' : 'fa fa-star'"></span>
                <span class="fa fa-star checked" th:class="${rating.getRating() > 1} ? 'fa fa-star checked' : 'fa fa-star'"></span>
                <span class="fa fa-star checked" th:class="${rating.getRating() > 2} ? 'fa fa-star checked' : 'fa fa-star'"></span>
                <span class="fa fa-star checked" th:class="${rating.getRating() > 3} ? 'fa fa-star checked' : 'fa fa-star'"></span>
                <span class="fa fa-star checked" th:class="${rating.getRating() > 4} ? 'fa fa-star checked' : 'fa fa-star'"></span>&nbsp&nbsp
                <span th:text="${rating.getRating()}">5</span>
                <span th:text="'&nbsp&nbsp|&nbsp&nbsp' + ${rating.getHowLongAgo()}">&nbsp&nbsp|&nbsp&nbsp2 months ago</span>
              </div>
              <div style="margin: -15px 0px 20px 15px; " th:text="${rating.getComment()}">This is a comment about this user. He was mediocre at best...</div>
              <hr class="horizontal_line">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<div id="contact_us" th:replace="~{fragments :: contact_us}"></div>

<footer id="footer" th:replace="~{fragments :: footer}"></footer>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script th:inline="javascript">
  /*<![CDATA[*/

  function moveProgressBar(fillAmount, elementName) {
    var i = 0;
    if (i == 0) {
      i = 1;
      var elem = document.getElementById(elementName);
      var width = 1;
      var id = setInterval(frame, 10);
      function frame() {
        if (width >= fillAmount) {
          clearInterval(id);
          i = 0;
        } else {
          width++;
          elem.style.width = width + "%";
        }
      }
    }
  }

  var isDeveloper = /*[[${isDeveloper} != null ? true:false]]*/ 'false';

  if (isDeveloper){
    moveProgressBar(document.getElementById("progress-bar5-value").textContent, "progress-bar5");
    moveProgressBar(document.getElementById("progress-bar4-value").textContent, "progress-bar4");
    moveProgressBar(document.getElementById("progress-bar3-value").textContent, "progress-bar3");
    moveProgressBar(document.getElementById("progress-bar2-value").textContent, "progress-bar2");
    moveProgressBar(document.getElementById("progress-bar1-value").textContent, "progress-bar1");
  }

  var count = 0;
  var cameraIcon = document.getElementById("camera_icon");
  function onImageHover(node) {
    if (count == 0){
      node.style.backgroundColor = "rgb(0, 0, 0, 0.5)";
      node.style.opacity = "0.2";
      node.style.cursor = "pointer";
      cameraIcon.style.color = "rgba(255, 255, 255, 1)";
      count = 1;
      return;
    }

    count = 0;
    node.style.backgroundColor = "rgb(255, 255, 255, 1)";
    node.style.opacity = "1";
    cameraIcon.style.color = "rgba(0, 0, 0, 0)";
  }

  function changePic(){
    document.getElementById("input_file").click();
  }
  /*]]>*/
</script>

</body>
</html>