<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Search for Tasks</title>

    <link rel="stylesheet" th:href="@{/css/application.css}" href="../static/css/application.css"/>
    <link rel="stylesheet" th:href="@{/css/search.css}" href="../static/css/search.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <style>
        #results_per_page {
            z-index: 10;
            display: inline-block;
            background-color: rgb(255, 89, 20);
            color: rgb(255, 255, 255);
            border-radius: 8px;
            border: none;
            width: 2.35rem;
            height: 1.5rem;
        }

        #task_table {
            width: 90%;
            border-spacing: 0px 20px;
            font-family: 'Poppins',sans-serif;
        }
        .task_tr:hover{
            transform: scale(1.05);
            box-shadow: 5px 5px 8px #222222;
        }
        .task_tr {
            width: 95%;
            height: 150px;
            color: rgb(255, 255, 255);
            transition: all .2s ease-in-out;
        }
        .task_td:hover {
            cursor: pointer;
        }
        .task_td {
            vertical-align: top;
            padding: 10px;
            background-color: #FF5719;
            border: 1px solid #222222;
            box-shadow: 3px 3px 5px #222222;
            border-radius: 8px;
        }
    </style>
</head>
<body>
<div id="navbar-top" th:replace="~{fragments :: navbar_top(${logedInUsername}, ${logedInUserID}, ${notifications})}"></div>

<div style=" width: 100%; margin-top: 20px; margin-bottom: 10px; display: flex; align-items: center; justify-content: center;">
    <form id="search_form" role="search" th:action="@{/task_search}" method="get">
        <input style="font-size: 20px;" id="search" type="search" name="keyword" placeholder="Search for tasks..." autofocus required />
        <button id="search_button" onclick="onFilter()" type="button"><ion-icon name="search-outline" style="padding-top: 5px;"></ion-icon></button>
    </form>
</div>

<div style=" margin-top: 20px; margin-bottom: 20px; display: flex; align-items: center; justify-content: center; ">
    <form id="filter_form" th:action="@{/task_search}" method="get">
        <input type="hidden" id="hidden_search" name="keyword" />
        <div id="categories" class="dropdown-check-list" tabindex="100">
            <span class="anchor">Categories</span>
            <ul class="items" th:each="category, iteration: ${categories}">
                <li><input type="checkbox" name="category" th:value="${category.getId()}" th:text="${category.getName()}"/></li>
            </ul>
        </div>
        <div id="sub_categories" class="dropdown-check-list" tabindex="100" style=" margin-left: 150px; ">
            <span class="anchor">Subcategories</span>
            <ul class="items" th:each="subcategory, iteration: ${subcategories}">
                <li><input type="checkbox" name="subcategory" th:value="${subcategory.getId()}" th:text="${subcategory.getName()}"/></li>
            </ul>
        </div>
        <div id="languages" class="dropdown-check-list" tabindex="100" style=" margin-left: 320px; ">
            <span class="anchor">Languages</span>
            <ul class="items">
                <li><input type="checkbox" />English</li>
                <li><input type="checkbox" />Greek</li>
                <li><input type="checkbox" />Spanish</li>
                <li><input type="checkbox" />Italian</li>
                <li><input type="checkbox" />German</li>
                <li><input type="checkbox" />French</li>
            </ul>
        </div>
        <div id="technologies" class="dropdown-check-list" tabindex="100" style=" margin-left: 470px; ">
            <span class="anchor">Technologies</span>
            <ul class="items">
                <li><input type="checkbox" />Java</li>
                <li><input type="checkbox" />C#</li>
                <li><input type="checkbox" />Python</li>
                <li><input type="checkbox" />C++/C</li>
                <li><input type="checkbox" />Html/Css</li>
                <li><input type="checkbox" />SpringBoot</li>
            </ul>
        </div>
        <button id="filter_button" type="submit" onclick="onFilter()" style=" margin-left: 640px; margin-top: -5px; ">Filter</button>
    </form>
</div>

<div>
    <a style=" text-decoration: underline; " th:each="category: ${appliedCategories}"><span th:text="${category.getName()} + ' X'" style=" color: #FFFFFF; margin-right: 50px; "/></a>
    <a style=" text-decoration: underline; " th:each="subcategory: ${appliedSubcategories}"><span th:text="${subcategory.getName()} + ' X'" style=" color: #FFFFFF; margin-right: 50px; "/></a>
</div>

<div id="task_list" style=" display: flex; align-items: center; justify-content: center; ">
    <table id="task_table">
        <tr class ="task_tr" th:each="task: ${tasks}">
            <td class="task_td" >
                <a th:href="@{/task_view/{type}(type=${task.getId()})}" href="task_view.html" style=" text-decoration: none; ">
                    <div>
                        <div>
                            <span th:text="${task.getTitle()}" style=" font-size: 22px; ">Title</span>
                            <div style=" text-align: right; margin-top: -27px; ">
                                <span th:text="'Max Bidding Price: ' + ${task.getMaxPrice()} + ' €'" style="margin-right: 50px;">Max Bidding Price: 500€</span>
                                <span th:text="'Time Remaining: ' + ${task.getRemainingMinutes()} + ' minutes'" style="margin-right: 10px; ">Time Remaining: 1000 minutes</span>
                            </div>
                        </div>
                        <p th:text="${task.getDescription()}" >Description</p><br>
                        <div style=" margin-top: 15px;">
                            <span th:text="'Creator: ' + ${task.getCreator()?.getUsername()}">Creator: a</span>
                            <div style=" display: flex; justify-content: right; margin-top: -17px; margin-right: 10px; ">
                                <span th:text="'Category: ' + ${task.getCategory()?.getName()}" style="margin-left: 50px;">Category: b</span>
                                <span th:text="'Subcategory: ' + ${task.getSubcategory()?.getName()}" style="margin-left: 25px;">Subcategory: c</span>
                            </div>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
    </table>
</div>

<div style=" display: flex; align-items: center; justify-content: center; margin-top: 20px; margin-bottom: 20px; font-family: 'Poppins',sans-serif; font-size: 14px;">
    <span th:text="${'Showing 1 to 3 of ' + tasksSize}" style=" color: #FFFFFF; ">Showing 1 to 6 of 210</span>
    <div style=" display: inline; margin-left: 25px; ">
        <label style=" color: #FFFFFF">Results per page</label>
        <select id="results_per_page">
            <option class="results_per_page_val" value="5">5</option>
            <option class="results_per_page_val" value="10">10</option>
            <option class="results_per_page_val" value="20">20</option>
            <option class="results_per_page_val" value="30">30</option>
            <option class="results_per_page_val" value="0" selected>all</option>
        </select>
    </div>
    <span style=" color: #FFFFFF; margin-left: 25px; "><a href="task_search.html">< previous</a> &nbsp&nbsp&nbsp 1 &nbsp&nbsp&nbsp 2 &nbsp&nbsp&nbsp 3 &nbsp&nbsp&nbsp <a href="task_search.html">next ></a></span>
</div>

<div id="contact_us" th:replace="~{fragments :: contact_us}"></div>

<footer id="footer" th:replace="~{fragments :: footer}"></footer>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script>
    const checkListCategories = document.getElementById('categories');
    const  checkListSubcategories = document.getElementById('sub_categories');
    const  checkListLanguages = document.getElementById('languages');
    const  checkListTechnologies = document.getElementById('technologies');
    checkListCategories.getElementsByClassName('anchor')[0].onclick = function(evt) {
        if (checkListCategories.classList.contains('visible'))
            checkListCategories.classList.remove('visible');
        else
            checkListCategories.classList.add('visible');
    }
    checkListSubcategories.getElementsByClassName('anchor')[0].onclick = function(evt) {
        if (checkListSubcategories.classList.contains('visible'))
            checkListSubcategories.classList.remove('visible');
        else
            checkListSubcategories.classList.add('visible');
    }
    checkListLanguages.getElementsByClassName('anchor')[0].onclick = function(evt) {
        if (checkListLanguages.classList.contains('visible'))
            checkListLanguages.classList.remove('visible');
        else
            checkListLanguages.classList.add('visible');
    }
    checkListTechnologies.getElementsByClassName('anchor')[0].onclick = function(evt) {
        if (checkListTechnologies.classList.contains('visible'))
            checkListTechnologies.classList.remove('visible');
        else
            checkListTechnologies.classList.add('visible');
    }

    var input = document.getElementById("search");
    input.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            onFilter();
        }
    });
    const keyword = document.getElementById("search");
    const hidden = document.getElementById("hidden_search");
    const filter_form = document.getElementById("filter_form");
    function onFilter(){
        hidden.setAttribute('value', keyword.value);
        filter_form.submit();
    }
</script>

</body>
</html>